<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    {% if message %}
      <script type="text/javascript">
        alert('{{message}}')
      </script>
    {% endif %}
    <form  action="{% url 'login:auth' %}" method="post">
      {% csrf_token %}
      {{form}}
      <br>
      <input type="submit" name="submit" value="Login">
    </form>

    <br>
    <br>
    <br>
    <a href="{% url 'register:index' %}">Register Here</a>
  </body>
</html>
